{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
  <div class = "row pb-4">
    <div class="col-md-4">
      <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="About the tool" data-content="<p>
      The tool has been developed to balance user experience with the ability to provide robust estimates of the likely costs and benefits of implementing FRP. To minimise the time requirement from users the tool is prepopulated with default assumptions (typically based on averages) however for certain key assumptions users are able to override defaults with their own data on estates and existing collections to the extent this data is available. For more information about specific input fields, click the ? button next to the field name to display additional help text, and click the ? button again to hide the help text.
      </p>
      <p>
      Where estates differ in characteristics (number of households, blocks, bin areas etc) it is recommended that users re-run the tool based on the characteristics of each individual estate to maximise the accuracy of the cost and benefit estimates.
      </p>
      ">User Guidance</a>
    </div>
    <div class="col-md-5">
      <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="focus" title="Scenario guidance" data-content="<p>
      Different cost scenarios can be selected by users to reflect how difficult/easy to treat each individual estate is. These can also be used to illustrate the range of costs users might expect to incur implementing FRP. Different benefit scenarios can also be selected to reflect the range of potential outcomes in terms of the level of improvement in behaviour of residents toward recycling. One might also expect benefits to be greater for estates with a lower initial level of recycling performance.
      </p>
      ">Which scenarios should I select?</a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a class="btn btn-lg btn-secondary" role="button" title="Logout" href="{% url 'logout'%}">Logout</a>
    </div>
  </div>
  <p>
    All fields marked with * are required.
  </p>

  {% crispy form %}

  <button type="button" id ='tomato' class="btn btn-secondary mt-4">Clear all default values (cannot be undone!)</button>
{% else %}
  <a class="btn btn-lg btn-secondary" role="button" title="Logout" href="{% url 'login'%}?next={{request.path}}">Login</a>
{% endif %}

{% endblock %}
