<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .tooltip-inner
                    {
                      max-width: 350px !important;
                      padding-top: 10px;
                      padding-left: 15px;
                      padding-bottom:10px;
                      text-align: left;
                    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/93d1fb5e3e.js" crossorigin="anonymous"></script>
    <script src="{% static 'calculator/app.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FRP Cost-Benefit Calculator</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="page-header">
            <img class="img-fluid margin-bottom:50px" alt="Responsive image" src='{% static "resource_london_logo.png" %}'>
            <div class="row">
              <div class="col-md-9">
                <h2 class="mt-2">Flats Recycling Package Cost-Benefit Calculator</h2>
                <hr>
              </div>
            </div>
            {% block content %}
                 <div class="login">
                    <h4>Create Account</h4>
                     <form method="post" >
                         {% csrf_token %}
                         {% for field in form %}
                           <p>
                             {{ field.label_tag }}<br>
                             {{ field }}
                             {% if field.help_text %}
                               <small style="color: grey">{{ field.help_text }}</small>
                             {% endif %}
                             {% for error in field.errors %}
                               <p style="color: red">{{ error }}</p>
                             {% endfor %}
                           </p>
                         {% endfor %}
                         <input type="submit" name="submit" value="Register" />
                     </form>
                 </div>
            {% endblock %}
          <footer class="page-footer font-small special-color-dark pt-4">
            <div class="footer-copyright text-center py-3">
              © 2020 Resource London. Developed in partnership with Alma Economics
            </div>
          </footer>
      </div>
    </div>
  </body>
</html>
