{% load crispy_forms_field %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
    {% if field.label and not field|is_checkbox and form_show_labels %}
        <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}
    <a class="far fa-question-circle" tabindex="0" data-trigger="focus" data-toggle="popover" data-html="true" data-placement="top" title="Setup costs include one-off costs associated with implementing the FRP in designated estates, including: bringing bin provision up to the specified standard, improvements to bin stores, project management to implement measures, and the initial cost of signage/communications. Five setup cost scenarios can be selected based on how easy or difficult users perceive to treat the relevant estates to be:
    <ul>
      <li><strong>High</strong>: very high amount of change needed to bring estate(s) up to FRP standard</li>
      <li><strong>Medium-high</strong>: high amount of change needed to bring estate(s) up to FRP standard</li>
      <li><strong>Average</strong>: average amount of change needed to bring estate(s) up to FRP standard</li>
      <li><strong>Medium-low</strong>: little change needed to bring estate(s) up to FRP standard</li>
      <li><strong>Low</strong>: very little change needed to bring estate(s) up to FRP standard</li>
    </ul>
    Note that the High, Medium-high and Average scenarios assume new recycling bins are purchased. The Medium-low and Low scenarios assume that existing recycling bins are refurbished.
    "></a>
    <div class="controls {{ field_class }}">
        {% crispy_field field %}
        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
    </div>
</{% if tag %}{{ tag }}{% else %}div{% endif %}>
